body {
	background-color: #72A5ED;
	font-family: "Century Gothic";
	padding: 0px;
	margin: 0px;
}

a {
	color: #EB1C9B;
}

a.no_color {
	color: black;
	text-decoration: none;
}

p#flash {
	background-color: #9FFF80;
	opacity: 0.9;
	border: 1px solid green;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-align: center;
	width: 40%;
	left: 30%;
	top: 0px;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	position: relative;
	font-size: smaller;
}

div#container {
	background-color: white;
	border: 2px solid black;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 2%;
	margin-top: 0.5%;
	padding: 2%;
	padding-top: 0.5%;
	width: 86%;
	margin-left: 5%;
}

div#header {
	padding-bottom: 1%;
	border-bottom: 2px solid #72A5ED;
}

div#header h1#application {
	display: inline;
}

div#header h3 {
	display: inline;
	color: #666;
}

span.male {
	color: #72A5ED;
}

span.female {
	color: #EB1C9B;
}

span.gender {
	color: #bbb;
}

div#account {
	float: right;
	border: 2px solid #bbb;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 1%;
}

ul#title_and_actions {
	padding-left: 0px;
}

ul#title_and_actions li {
	font-size: 120%;
	list-style-type: none;
	display: inline;
}

ul#title_and_actions li#title {
	font-weight: bold;
}

form {
	background-color: #FCF5BD;
	border: 2px solid #FFC342;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 1%;
}

form label {
}

div#errors {
	background-color: #FF919C;
	border: 1px solid red;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 2%;
	padding: 2%;
	text-align: center;
}

div#errors a.close {
	color: red;
}

/* style specific to the expenses */

table#expenses {
	width: 100%;
}

table#expenses tr td {
	text-align: center;
}

tr.male {
	background-color: #A3E3FF;
}

tr.female {
	background-color: #FFA3BA;
}

tr.gender {
	background-color: #bbb;
}
