<p><%= t('.provide_info_for_new_expense')%></p>
<br />
<% if @expense.errors.any? %>
<p id="errors">
	The following errors prevented you from recording this expense
	<ul>
		<% @expense.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
</p>
<% end %>
<%= render :partial => 'form' %>